$mainBackground: #000000;
$carouselNav: #ffffff;
$productDescriptionColorAndBorder:  #1fc3df;
$availableSizesBackground: #082e6d;

$footerHeight: 20vh;

@mixin captionShow {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}

@mixin captionTransition ($time:300ms) {
    -webkit-transition: all $time ease-out;
    -moz-transition: all $time ease-out;
    -o-transition: all $time ease-out;
    -ms-transition: all $time ease-out; 
    transition: all $time ease-out;
}



/*------------------RESET------------------*/
body {
    background: $mainBackground;
    min-height:100vh;
    position: relative;
    overflow-x:hidden;
    padding-bottom: $footerHeight;
}

a {
    text-decoration:none;
}

/*------------------WINDOW SIZE PANEL------------------*/
#showWindowSize {
    position: fixed;
    bottom: 0;
    right: 0;
    color: $showWindowSizeColor;
    border: 2px solid $showWindowSizeColor;
    padding:1%;
}
/*------------------CAROUSEL------------------*/
.carouselContainer {
    padding-top:5%;
}

.carouselContainer img {
    margin: auto;
    height:$carouselAndDescriptionH;
}

.carouselNavCircles .active {
    background: $carouselNav;
}

.carouselNavCircles li {
    border-color: $carouselNav;
}
#backToFirst {
    position: absolute;
    bottom:5%;
    left:50%;
    z-index: 11;
    width: 40%;
    padding-left: 0;
    margin-left: -20%;
    text-align: center;
    text-align: center;
    border: 1px solid $carouselNav;
    color: $carouselNav;
    cursor: pointer;
    visibility: hidden;
}

.carouselArrowContainer.left,  .carouselArrowContainer.right{
    background-image: none;
}

.carouselArrowContainer:disabled .glyphicon:hover {
    color:red;
}
/*------------------DESCRIPTION------------------*/
.productDescriptionContainer {
    color: $productDescriptionColorAndBorder;
}
.productName, .productName + dd{
    display: none;
}
.productName.active, .productName.active + dd {
    display: inline;
}
.chooseSize input, .chooseColor input{
    visibility: hidden;
}
.chooseSize label, .chooseColor label{
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    cursor: pointer;
}
.chooseSize label {
    background : $availableSizesBackground;
}
.chooseSize input:checked + label, .chooseColor input:checked + label{
    border: 3px solid $productDescriptionColorAndBorder;
    border-radius: 60%;
}

.addToCart {
    background: none;
    border: 1px solid $productDescriptionColorAndBorder;
    padding: 2%;
}
.addToCart:hover {
    background: $productDescriptionColorAndBorder;
    color: $mainBackground;
}


dd, dt {
    display: inline;
}


/*------------------Recommended Section------------------*/

.recommendedContainer {
    margin-bottom:$footerHeight;
    width:100%;
    margin:0;
    padding:0;

    .grid-item, .grid-sizer {
    float:left;
    width:20%;
    position:relative;
    }

    .grid-item {
    overflow:hidden;
    padding-left:4px;
    }

    .grid-item:hover .caption {
    @include captionShow;
    }

    img{
        position:relative;
        width:100%;
        border-bottom:3px solid transparent;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
    }
    .caption{
        position:absolute;
        bottom:-20px;
        padding-top:8px;
        padding-bottom:8px;
        background:grey;
        width:100%;
        text-align:center;
        @include captionTransition;
        opacity:0;
        }

    img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    }

}

/*------------------Footer------------------*/

footer {
    position:absolute;
    bottom:0;
    
    width:100vw;
    background:grey;
    color:white;
    text-align:center;
}

.socialIcon {
    width:40px;
    height:40px;
}