/*------------------RESET------------------*/
body {
  background: black;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 40vh; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

/*------------------WINDOW SIZE PANEL------------------*/
#showWindowSize {
  position: fixed;
  bottom: 0;
  right: 0;
  color: black;
  background: #f0073a;
  padding: 1%; }

/*------------------CAROUSEL------------------*/
.carouselContainer {
  margin-top: 15vh;
  margin-bottom: 15vh; }

.carouselContainer img {
  margin: auto; }

.carouselNavCircles .active {
  background: #f0073a; }

.carouselNavCircles li {
  border-color: #f0073a; }

#backToFirst {
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 30%;
  margin-left: -15%;
  padding-left: 0;
  text-align: center;
  background: rgba(240, 7, 58, 0.5);
  color: black;
  cursor: pointer;
  visibility: hidden;
  font-weight: bold;
  z-index: 11; }

#backToFirst:hover {
  background: #f0073a; }

.carouselArrowContainer.left, .carouselArrowContainer.right {
  background-image: none;
  color: #f0073a; }

.carouselArrowContainer.disabled:hover, .carouselArrowContainer.disabled {
  cursor: default;
  color: rgba(240, 7, 58, 0.2);
  opacity: inherit; }

/*------------------DESCRIPTION------------------*/
.productDescriptionContainer {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 15vh;
  margin-bottom: 15vh; }

.productDescriptionContainer dl {
  margin: 0; }

.productName, .productName + dd {
  display: none; }

.productName.active, .productName.active + dd {
  display: block; }

.productName {
  text-align: center;
  margin-bottom: 5%;
  font-size: 120%;
  color: #f0073a; }

.productMaterial, .productMaterial + dd {
  display: inline; }

.productPrice, .productPrice + dd {
  display: inline; }

.chooseSize legend, .chooseColor legend {
  font-size: inherit;
  border: none;
  color: inherit;
  font-weight: bold;
  margin: 0; }

.chooseSize input, .chooseColor input {
  display: none; }

.chooseSize label, .chooseColor label {
  width: 5vh;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  cursor: pointer;
  color: black; }

.chooseSize label {
  background: #f0073a; }

.chooseSize label:hover, .chooseSize input:checked + label {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

.chooseColor label:hover, .chooseColor input:checked + label {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

.addToCart {
  background: none;
  border: 1px solid #f0073a;
  color: #f0073a;
  padding: 2%;
  margin-top: 3%; }

.addToCart:hover {
  background: #f0073a;
  color: black; }

/*------------------Recommended Section------------------*/
.recommendedContainer {
  width: 100%;
  margin: 0;
  padding: 0; }
  .recommendedContainer .grid-item, .recommendedContainer .grid-sizer {
    float: left;
    width: 20%;
    position: relative; }
  .recommendedContainer .grid-item {
    overflow: hidden;
    border: 1vh solid black; }
  .recommendedContainer .grid-item:hover .caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%); }
  .recommendedContainer img {
    position: relative;
    width: 100%; }
  .recommendedContainer .caption {
    position: absolute;
    background: rgba(240, 7, 58, 0.7);
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    color: black; }
  .recommendedContainer .innerCaption {
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 130%;
    font-weight: bold; }

/*------------------Footer------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  border-top: 2px dashed #f0073a;
  color: white;
  text-align: center;
  padding: 2%;
  background: black; }

.email {
  color: #f0073a;
  margin-botttom: 2%; }

.email:hover {
  color: #f0073a;
  font-weight: bold;
  text-decoration: none; }

.socialIcon {
  width: 5vh;
  height: 5vh;
  margin-top: 2%; }

/*------------------MEDIA QUERY------------------*/
@media (max-width: 500px) {
  .recommendedContainer .grid-item, .recommendedContainer .grid-sizer {
    width: 33%; } }

@media (max-width: 767px) {
  .carouselAndDescriptionContainer {
    height: auto; } }

@media (max-width: 800px) and (orientation: landscape) {
  .chooseSize label, .chooseColor label {
    width: 5vw;
    height: 5vw;
    line-height: 5vw; }
  .socialIcon {
    width: 5vw;
    height: 5vw; }
  body {
    padding-bottom: 35vw; } }
