/*------------------RESET------------------*/
body {
  background: #000000;
  padding-top: 2%;
  min-height: 100vh;
  position: relative; }

a {
  text-decoration: none;
  color: #1fc3df; }

/*------------------WINDOW SIZE PANEL------------------*/
#windowSize {
  position: fixed;
  bottom: 0;
  right: 0;
  color: grey;
  border: 1px solid grey;
  padding: 1%; }

/*------------------CAROUSEL------------------*/
.carouselContainer img {
  margin: auto; }

#backToFirst {
  position: absolute;
  bottom: 5%;
  left: 50%;
  z-index: 11;
  width: 40%;
  padding-left: 0;
  margin-left: -20%;
  text-align: center;
  text-align: center;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  visibility: hidden; }

.carouselArrowContainer.left, .carouselArrowContainer.right {
  background-image: none; }

.carouselArrowContainer:disabled .glyphicon:hover {
  color: red; }

/*------------------DESCRIPTION------------------*/
.productDescriptionContainer {
  color: #1fc3df; }

.productName, .productName + dd {
  display: none; }

.productName.active, .productName.active + dd {
  display: inline; }

.chooseSize input, .chooseColor input {
  visibility: hidden; }

.chooseSize label, .chooseColor label {
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  cursor: pointer; }

.chooseSize label {
  background: #082e6d; }

.chooseSize input:checked + label, .chooseColor input:checked + label {
  border: 3px solid #1fc3df;
  border-radius: 60%; }

.addToCart {
  background: none;
  border: 1px solid #1fc3df;
  padding: 2%; }

.addToCart:hover {
  background: #1fc3df;
  color: #000000; }

dd, dt {
  display: inline; }

/*------------------Recommended Section------------------*/
.recommendedContainer {
  margin-bottom: 20vh;
  width: 100%;
  margin: 0;
  padding: 0; }
  .recommendedContainer .grid-item, .recommendedContainer .grid-sizer {
    float: left;
    width: 20%;
    position: relative; }
  .recommendedContainer .grid-item {
    overflow: hidden;
    padding-left: 4px; }
  .recommendedContainer .grid-item:hover .caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%); }
  .recommendedContainer img {
    position: relative;
    width: 100%;
    border-bottom: 3px solid transparent;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1); }
  .recommendedContainer .caption {
    position: absolute;
    bottom: -20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: grey;
    width: 100%;
    text-align: center;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0; }
  .recommendedContainer img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0); }

/*------------------Footer------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: grey;
  color: white;
  text-align: center; }

.socialIcon {
  width: 40px;
  height: 40px; }
