/*------------------RESET------------------*/
body {
  background: #000000;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 35vh; }

a {
  text-decoration: none; }

/*------------------WINDOW SIZE PANEL------------------*/
#showWindowSize {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #11dd76;
  border: 2px solid #11dd76;
  padding: 1%; }

/*------------------CAROUSEL------------------*/
.carouselContainer {
  padding-top: 5%; }

.carouselContainer img {
  margin: auto;
  height: 100vh; }

.carouselNavCircles .active {
  background: #11dd76; }

.carouselNavCircles li {
  border-color: #11dd76; }

#backToFirst {
  position: absolute;
  bottom: 2%;
  left: 50%;
  z-index: 11;
  width: 30%;
  padding-left: 0;
  margin-left: -15%;
  text-align: center;
  background: rgba(17, 221, 118, 0.5);
  color: #000000;
  cursor: pointer;
  visibility: hidden;
  font-weight: bold; }

#backToFirst:hover {
  background: #11dd76; }

.carouselArrowContainer.left, .carouselArrowContainer.right {
  background-image: none;
  color: #11dd76; }

.carouselArrowContainer.disabled:hover, .carouselArrowContainer.disabled {
  cursor: default;
  color: rgba(17, 221, 118, 0.2);
  opacity: inherit; }

/*------------------DESCRIPTION------------------*/
.productDescriptionContainer {
  color: #ffffff;
  height: 100vh;
  padding: 10%;
  padding-top: 5%; }

.productDescriptionContainer dl {
  margin: 0; }

.productName, .productName + dd {
  display: none; }

.productName.active, .productName.active + dd {
  display: block; }

.productName {
  text-align: center;
  margin-bottom: 5%;
  font-size: 120%;
  color: #11dd76; }

.productMaterial, .productMaterial + dd {
  display: inline; }

.productPrice, .productPrice + dd {
  display: inline; }

.chooseSize legend, .chooseColor legend {
  font-size: inherit;
  border: none;
  color: inherit;
  font-weight: bold;
  margin: 0; }

.chooseSize input, .chooseColor input {
  display: none; }

.chooseSize label, .chooseColor label {
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  cursor: pointer;
  color: black; }

.chooseSize label {
  background: #11dd76; }

.chooseSize label:hover, .chooseSize input:checked + label {
  background: white; }

.chooseColor input:checked + label {
  border: 4px solid #11dd76; }

.addToCart {
  background: none;
  border: 1px solid #11dd76;
  color: #11dd76;
  padding: 2%;
  margin-top: 3%; }

.addToCart:hover {
  background: #11dd76;
  color: #000000; }

/*------------------Recommended Section------------------*/
.recommendedContainer {
  width: 100%;
  margin: 0;
  padding: 0; }
  .recommendedContainer .grid-item, .recommendedContainer .grid-sizer {
    float: left;
    width: 20%;
    position: relative; }
  .recommendedContainer .grid-item {
    overflow: hidden;
    border: 1vh solid black; }
  .recommendedContainer .grid-item:hover .caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%); }
  .recommendedContainer img {
    position: relative;
    width: 100%;
    border-bottom: 3px solid transparent;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1); }
  .recommendedContainer .caption {
    position: absolute;
    background: rgba(17, 221, 118, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 50%;
    text-align: center;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    font-weight: bold;
    font-size: 100%;
    color: #000000; }
  .recommendedContainer img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0); }

/*------------------Footer------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  border: 2px dashed #11dd76;
  color: white;
  text-align: center;
  padding: 2%;
  background: #000000; }

.email {
  color: #11dd76;
  margin-botttom: 2%; }

.email:hover {
  color: #11dd76;
  font-weight: bold;
  text-decoration: none; }

.socialIcon {
  width: 40px;
  height: 40px;
  margin-top: 2%; }
