$mainBackground: rgba(0, 0, 0, 1);
$carouselNav: rgba(240, 7, 58, 1);
$productDescriptionColorAndBorder:  rgba(255, 255, 255, 1);
$availableSizesBackground: rgba(240, 7, 58, 1);
$showWindowSizeColor: rgba(240, 7, 58, 1);

$footerHeight: 40vh;
$carouselAndDescriptionH: 100vh;

@mixin captionShow {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}

@mixin captionTransition ($time:300ms) {
    -webkit-transition: all $time ease-out;
    -moz-transition: all $time ease-out;
    -o-transition: all $time ease-out;
    -ms-transition: all $time ease-out; 
    transition: all $time ease-out;
}

@mixin rotateSelection ($angle:30deg) {
    -ms-transform: rotate($angle);
    -webkit-transform: rotate($angle);
    transform: rotate($angle);
}



/*------------------RESET------------------*/
body {
    background: $mainBackground;
    min-height:100vh;
    position: relative;
    overflow-x:hidden;
    padding-bottom: $footerHeight;
}

a {
    text-decoration:none;
}
* {
    box-sizing: border-box;
}

/*------------------WINDOW SIZE PANEL------------------*/
#showWindowSize {
    position: fixed;
    bottom: 0;
    right: 0;
    color: $mainBackground;
    background: $showWindowSizeColor;
    padding:1%;

}

/*------------------CAROUSEL------------------*/
.carouselContainer {
    margin-top:15vh;
    margin-bottom:15vh;
}

.carouselContainer img {
    margin: auto;
}

.carouselNavCircles .active {
    background: $carouselNav;
}

.carouselNavCircles li {
    border-color: $carouselNav;
}
#backToFirst {
    position: absolute;
    bottom:2%;
    left:50%;
    width: 30%;
    margin-left: -15%;
    padding-left: 0;
    text-align: center;
    background: transparentize($carouselNav, .5);
    color: $mainBackground;
    cursor: pointer;
    visibility: hidden;
    font-weight:bold;
    z-index: 11;
}

#backToFirst:hover {
    background: $carouselNav;
}

.carouselArrowContainer.left,  .carouselArrowContainer.right{
    background-image: none;
    color:$carouselNav;
}

.carouselArrowContainer.disabled:hover, .carouselArrowContainer.disabled {
    cursor:default;
    color:transparentize($carouselNav, .8);
    opacity:inherit;
}
/*------------------DESCRIPTION------------------*/
.productDescriptionContainer {
    color: $productDescriptionColorAndBorder;
    padding-left:10%;
    padding-right:10%;
    margin-top:15vh;
    margin-bottom:15vh;
}
.productDescriptionContainer dl {
    margin:0;
}
.productName, .productName + dd{
    display: none;
}
.productName.active, .productName.active + dd {
    display: block;
}
.productName {
    text-align:center;
    margin-bottom:5%;
    font-size:120%;
    color:$availableSizesBackground;
}

.productMaterial, .productMaterial + dd {
    display: inline;
}

.productPrice, .productPrice + dd {
     display: inline;
}
.chooseSize legend, .chooseColor legend {
    font-size:inherit;
    border:none;
    color:inherit;
    font-weight:bold;
    margin:0;
}
.chooseSize input, .chooseColor input{
    display: none;
}
.chooseSize label, .chooseColor label{
    width: 5vh;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    cursor: pointer;
    color:black;
}
.chooseSize label {
    background : $availableSizesBackground;
}

.chooseSize label:hover,  .chooseSize input:checked + label{
    @include rotateSelection;
    
}
.chooseColor label:hover, .chooseColor input:checked + label{
    @include rotateSelection;
}

.addToCart {
    background: none;
    border: 1px solid $availableSizesBackground;
    color: $availableSizesBackground;
    padding: 2%;
    margin-top:3%;
}
.addToCart:hover {
    background: $availableSizesBackground;
    color: $mainBackground;
}

/*------------------Recommended Section------------------*/

.recommendedContainer {
    width:100%;
    margin:0;
    padding:0;

    .grid-item, .grid-sizer {
    float:left;
    width:20%;
    position:relative;
    }

    .grid-item {
    overflow:hidden;
    border:1vh solid $mainBackground;
    }

    .grid-item:hover .caption {
    @include captionShow;
    }

    img{
        position:relative;
        width:100%;
    }
    .caption {
        position:absolute;
        background:transparentize($carouselNav, .3);
        width:100%;
        height:100%;
        @include captionTransition;
        opacity:0;
        color: $mainBackground;
        }
    .innerCaption {
        position:relative;
        top:50%;
        text-align:center;
        font-size:130%;
        font-weight:bold;
    }

}

/*------------------Footer------------------*/

footer {
    position:absolute;
    bottom:0;
    width:100vw;
    border-top: 2px dashed $availableSizesBackground;
    color:white;
    text-align:center;
    padding:2%;
    background:$mainBackground;
}

.email {
    color:$availableSizesBackground;
    margin-botttom:2%;
}

.email:hover {
    color:$availableSizesBackground;
    font-weight:bold;
    text-decoration:none;

}

.socialIcon {
    width:5vh;
    height:5vh;
    margin-top:2%;
}

/*------------------MEDIA QUERY------------------*/
@media (max-width: 500px) {

    .recommendedContainer .grid-item,.recommendedContainer .grid-sizer {
        width:33%;
    }
}

@media (max-width: 767px) {
    .carouselAndDescriptionContainer {
        height:auto;
    }
    
}