    body {
        background:black;
        padding-top: 5%;
    }
    #windowSize {
        position: fixed;
        bottom: 0;
        right: 0;
        color: grey;
        border: 1px solid grey;
        padding:1%;
    }
    
    .carouselContainer img {
        margin: auto;
    }
    .glyphicon-chevron-left {
        color: white!important;
    }
    #backToFirst {
        position: absolute;
        bottom:5%;
        left:50%;
        z-index: 11;
        width: 40%;
        padding-left: 0;
        margin-left: -20%;
        text-align: center;
        text-align: center;
        border: 1px solid white;
        color: white;
        cursor: pointer;
        visibility: hidden;
    }
    input[type=radio] {
        /*visibility: hidden;*/
    }
    .productDescription p {
        display: none;
    }
      .productDescription .active {
        display: inline;
    }
    dd, dt {
        display: inline;
    }